.footer {
	padding-bottom: 74px;
}

.logo {
	&--footer {
		color: $orange;
	}
}

.nav {
	&__link {
		&--footer {
			color: $secondary;
			transition: all 0.3s ease;

			&.active-link {
				color: $orange;
			}

			&:hover {
				color: $orange;
			}

			&::before {
				display: none;
			}
		}
	}

	&__login {
		&--footer {
			font-weight: 500;
			color: $secondary;
		}
	}
}

.button {
	&--footer {
		color: $white;

		&:hover {
			color: $yellow;
		}
	}
}