.subscribe {
	margin-bottom: 106px;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__title {
		margin-bottom: 60px;
		max-width: 496px;
		width: 100%;
		font-size: 55px;
		font-weight: 600;
		line-height: 82px;
		color: $text;
	}

	&-form {
		padding: 12px 15px 12px 46px;
		max-width: 800px;
		width: 100%;
		display: flex;
		column-gap: 20px;
		justify-content: space-between;
		background-color: $white;
		border-radius: 35px;

		&__input {
			outline: none;
			border: none;
		}

		&__button {
			padding: 34px 86px;
			font-size: 25px;
			font-weight: 600;
			line-height: 38px;
			border-radius: 35px;
			outline: none;
			border: none;
			cursor: pointer;
		}
	}
}


.subscribe-form__input {
	max-width: 380px;
	width: 100%;
	font-size: 24px;
	font-weight: 500;
}

.subscribe-form__input::placeholder {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	color: $secondary;
}